* {
  box-sizing: border-box;
}
html {
  font-size: 18px;
  line-height: 1.5;
  font-family: system-ui, sans-serif;
  font-weight: 400;
}
body {
  margin: 0 auto;
  padding-top: 1rem;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 0;
  padding: 0;
  max-width: 400px;
}

input,
button {
  font-family: system-ui, sans-serif;
  font-weight: 500;
  height: 1.5rem;
}

.input-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 1rem;
}
.input-group {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
}

.input-group {
  input {
    width: 75%;
  }
}

label {
  width: 20vw;
}

.input-group#buttons {
  justify-content: space-evenly;
}

button[type='submit'] {
  flex-grow: 1;
}

.response {
  width: 100%;
}
pre {
  white-space: pre-wrap; /* Change this line */

  word-break: break-word;
  background-color: #efefef;
  width: 100%;
  font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas,
    'DejaVu Sans Mono', monospace;
  font-weight: 500;
  min-height: 50px;
}
